{% extends 'core/base.html' %}

{% load static %}

{% block title %}Historia | La Caffettiera{% endblock %}

{% block content %}
<section class="page-section about-heading">
  <div class="container">
    <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="{% static 'core/img/about.jpg' %}" alt="">
    <div class="about-heading-content">
      <div class="row">
        <div class="col-xl-9 col-lg-10 mx-auto">
          <div class="bg-faded rounded p-5">
            <h2 class="section-heading mb-4">
              <span class="section-heading-upper">El Sabor de la Tradición Napolitana</span>
              <span class="section-heading-lower">Nuestra historia</span>
            </h2>
            <p>En un pequeño pueblo de Nápoles, Italia, Giuseppe Mancini fundó "All Pizza" en 1920, inspirado por su amor por la cocina tradicional italiana. Con ingredientes frescos del mercado, una masa única y un horno de leña, Giuseppe creó pizzas que pronto se convirtieron en el alma del pueblo.

            </p>
            <p>Generación tras generación, su familia ha mantenido viva la tradición, llevando el auténtico sabor de Nápoles al mundo. Cada pizza es un homenaje a esa pasión, hecha con amor y dedicación. "All Pizza" no es solo una comida, es una experiencia italiana inolvidable. </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}