{% extends 'core/base.html' %}
{% load static %}
{% block title %}Inicio{% endblock %}

{% block content %}
		<!-- Cabecera -->
		<section class="page-section clearfix">
			<div class="container">
				<div class="intro">
					<img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'core/img/intro.jpg' %}" alt="">
					<div class="intro-text left-0 text-center bg-faded p-5 rounded">
						<h2 class="section-heading mb-4">
							<span class="section-heading-upper">Ven a probar nuestra comida</span>
							<span class="section-heading-lower">Te encantará</span>
						</h2>
						<p class="mb-3">Auténtica pizza, auténtico sabor. Con ingredientes frescos y recetas artesanales, cada bocado es un viaje a Italia. ¡Ven y descubre tu nueva pizza favorita!
						</p>
						<div class="intro-button mx-auto">
							<a class="btn btn-primary btn-xl" href={% url "store"%}>Visítanos</a>
						</div>
					</div>
				</div>
			</div>
		</section>

		<!-- Mensaje -->
		<section class="page-section cta">
			<div class="container">
				<div class="row">
					<div class="col-xl-9 mx-auto">
						<div class="cta-inner text-center rounded">
							<h2 class="section-heading mb-4">
								<span class="section-heading-upper">Cuando el amor por la pizza se convierte en tu mejor momento del día.</span>
								<span class="section-heading-lower">Sabor que une, calidad que inspira.</span>
							</h2>
							<p class="mb-0">En nuestra pizzería, cada pizza cuenta una historia de pasión y autenticidad. Desde la frescura de los ingredientes hasta el arte en cada horneado, te ofrecemos mucho más que una comida: una experiencia inolvidable.</p>
						</div>
					</div>
				</div>
			</div>
		</section>
{% endblock %}